/build/
/cmake-build-*/
/.cache/
/models/
*.ggml
*.bin
*.onnx
*.onnx.json
intercom.json
*.wav
*.pcm
.DS_Store
compile_commands.json
.idea/
.vscode/
*.o
*.a
CMakeUserPresets.json
firmware/nano-esp32/secrets.h
firmware/nano-esp32/intercom-endpoint/secrets.h
